@using System.Text.RegularExpressions
@using HOTWallets.Utilities
@using HtmlAgilityPack
@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Html
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@model Models.Account

<turbo-frame class="flex flex-col justify-center  items-center" id="new_account_category">
    <a asp-page="/Main" asp-page-handler="AddCategory" asp-route-accountId="@Model.Id" class="p-4 text-xl bg-gradient-to-r from-[#CE00D2] to-gray-400 rounded-full text-white font-bold mt-6">New Category</a>

    <div class="flex flex-col items-center" id="edit_account_category">
        <div class="grid grid-cols-7 gap-24 w-full px-32 mt-12" id="edit_categories">
            @foreach (var category in Model.Categories)
            {
                <a asp-page="/Main" asp-page-handler="EditCategory" data-turbo-frame="new_account_category" asp-route-categoryId="@category.Id">
                    <div class="flex flex-col justify-center text-center items-center w-24 h-24" id="categories">
                        @Html.Raw(Utils.GetCategoryIcons()[category.Icon])
                        @*<img class="w-16" src="~/dist/images/categories/@String.Format("{0}.svg", category.Icon)">*@
                        <span class="text-black mt-2 text-lg">@category.Name</span>
                    </div>
                </a>
            }
        </div>
    </div>

</turbo-frame>