@using System.Security.Claims
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    var cardId = Convert.ToInt32(User.FindFirstValue(ClaimTypes.NameIdentifier));
}

@model HOTWallets.Pages.MainModel

<turbo-frame id="newwallet_@cardId">
    <div class="flex justify-center items-center">
        <div data-controller="dropdown" class="relative">
            <button type="button" class="my-2  w-full flex justify-center py-2 px-6  text-2xl font-medium rounded-full text-white bg-gradient-to-r from-[#CE00D2] to-zinc-700" data-action="dropdown#toggle click@window->dropdown#hide">
                Add Wallet
            </button>
            <div data-dropdown-target="menu" class="flex flex-col w-96 origin-top-center border border-sm  py-1 divide-y hidden absolute bg-white">
                @*<turbo-frame id="my_wallets">*@
                    <turbo-frame id="newwallet_@cardId" loading="lazy" src="/Main?handler=AddWallet"></turbo-frame>
                @*</turbo-frame>*@
            </div>
        </div>
    </div>
</turbo-frame>