@page
@model HOTWallets.Pages.MainModel
@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

@*<turbo-cable-stream-source channel="Turbo::StreamsChannel" signed-stream-name="IloybGtPaTh2YUc5MGQyRnNiR1YwY3k5QlkyTnZkVzUwTHpjeiI=--1b1a4166c7b0ba60d422a47f4b07ebf9cd15dea0352275f1d4e2ba8192e2b0a5"></turbo-cable-stream-source>
*@

<turbo-frame id="main-frame">
    <main class="container mx-auto mt-5 px-5">

        <turbo-frame id="welcome-info">
            <section class="flex justify-center items-center flex-col mt-16">
                <p class="text-black font-bold text-5xl">Welcome</p>
                <p class="text-black font-bold text-3xl mt-3 mb-10">@Model.Card.FirstName @Model.Card.LastName</p>
                <hr class="w-full">
            </section>
        </turbo-frame>

        <section class="flex justify-center flex-col items-center w-full pt-10">
            <div class="ml-2 w-96">
                <div class="flex justify-center items-center">
                    <turbo-frame id="newwallet_frame">
                        <partial name="_AddWallet" model=@Model></partial>
                    </turbo-frame>
                </div>

            </div>
            <div class="mt-10">
                <turbo-frame id="wallets" class="grid grid-cols-3 gap-10">
                    @*<div id="userwallets" >*@
                    @foreach (var wallet in Model.CardWallets)
                    {
                        <turbo-frame id="wallet_@wallet.Id" loading="lazy" src="/Main?id=@wallet.Id&handler=ShowWallet"></turbo-frame>
                    }
                    @*</div>*@
                </turbo-frame>
            </div>

        </section>

    </main>
</turbo-frame>
